//通用样式放在这里
@import "variables";
input[type=text], select{
  background-color: @lightPurple;
  width:80px;
}
input[type=text]{
  height:20px;
  line-height:20px;
}
input[type=checkbox]{
  width:16px;
  height:16px;
}
select{
  height:22px;
  line-height:22px;
}
button{
  height:22px;
}
.normal-btn{
  //border:1px solid #666;
  //border-radius: 2px;
  //background-image: linear-gradient(to bottom, #fff, #ccd7e8);
}
.btn{
  color: #fff;
  border-radius: 2px;
  height:24px;
  line-height:1;
  cursor: pointer;
}
.green-btn{
  background: #54ae7b;
  border:1px solid #54ae7b-#111;
}
.red-btn{
  background: #e6656a;
  border: 1px solid #e6656a-#111;
}
.blue-btn{
  background: #4970b1;
  border: 1px solid #4970b1-#111;
}
